{{define "errorsummary"}}
{{if .}}
<div class="alert alert-error" role="alert">
  <p>Please fix the following:</p>
  <ul>
  {{range $field, $message := .}}
    <li><a href="#{{fieldid $field}}">{{$message}}</a></li>
  {{end}}
  </ul>
</div>
{{end}}
{{end}}
