{{define "errorsummary"}}
<div class="alert alert-error" role="alert">
  <p>Please fix the following:</p>
  <ul>
  {{range .}}
    <li><a href="#{{.Anchor}}">{{.Message}}</a></li>
  {{end}}
  </ul>
</div>
{{end}}
